@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
* {
  box-sizeng: border-box; }

html, body {
  width: 100vw;
  display: grid;
  justify-items: center;
  max-width: 100vw;
  box-sizing: border-box;
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  background: #222;
  color: #FCFCFCFC;
  overflow-x: hidden; }
  html.fixed, body.fixed {
    overflow: hidden; }

container {
  width: 80vw;
  padding: 30px 0 0;
  box-sizing: border-box;
  font-family: Montserrat; }
  @media (max-width: 1440px) {
    container {
      width: 90vw;
      padding: 30px 0 0; } }
  @media (max-width: 480px) {
    container {
      margin-top: 50px; } }
  @media (min-width: 1920px) {
    container {
      width: 1600px; } }

a, p, span, div {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  font-family: Montserrat; }

header, footer {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  z-index: 10; }
  @media (max-width: 1440px) {
    header, footer {
      grid-template-columns: 101px 1fr; } }
  @media (max-width: 1200px) {
    header, footer {
      grid-template-columns: 20px 1fr; } }
  @media (max-width: 480px) {
    header svg, footer svg {
      max-width: 50px;
      margin-left: 15px;
      max-height: 50px; } }
  header span, footer span {
    font-family: Roboto Mono;
    font-size: 18px; }
    @media (max-width: 1200px) {
      header span, footer span {
        font-size: 15px; } }
  header nav, footer nav {
    justify-self: end; }
    @media (max-width: 979px) {
      header nav, footer nav {
        display: none; } }
    header nav a, footer nav a {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      text-decoration: none;
      color: #FCFCFCFC;
      font-weight: 600;
      font-size: 15px;
      line-height: 17px;
      margin-left: 25px; }
      header nav a.active, footer nav a.active {
        color: #FFCC33; }
      @media (max-width: 1440px) {
        header nav a, footer nav a {
          margin-left: 10px;
          font-size: 13px; } }

@media (max-width: 480px) {
  header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: #111;
    padding: 0;
    z-index: 99; } }

@media (max-width: 979px) {
  #navigation {
    box-sizing: border-box;
    display: grid;
    position: fixed;
    top: 0;
    width: 300px;
    right: -300px;
    transition: 0.3s;
    height: 100vh;
    padding: calc(50vh - 35%) 30px 30px;
    align-content: start;
    background: rgba(0, 0, 0, 0.9);
    z-index: 100; } }
  @media (max-width: 979px) and (max-width: 480px) {
    #navigation {
      width: 100vw;
      right: -100%;
      padding: calc(50vh - 70%) 30px 30px; }
      #navigation a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-size: 18px;
        margin: 5px 0 5px 20px;
        line-height: 140%; } }
@media (max-width: 979px) {
    #navigation.open {
      right: 0; } }
    @media (max-width: 979px) and (max-width: 480px) {
      #navigation.open {
        right: 0; } }
@media (max-width: 979px) {
    #navigation a {
      padding: 15px 0;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0); } }

section.main-page-screen {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 50px 0;
  grid-gap: 50px; }
  section.main-page-screen .info-block svg {
    transform: translateY(70px) translateX(50px);
    width: 80%; }
    @media (max-width: 768px) {
      section.main-page-screen .info-block svg {
        transform: translateY(30px) translateX(20px); } }
  section.main-page-screen .info-block h1 {
    font-weight: bold;
    font-size: 64px;
    word-break: keep-all;
    white-space: nowrap;
    line-height: 70px; }
    @media (max-width: 768px) {
      section.main-page-screen .info-block h1 {
        font-size: 50px;
        line-height: 55px;
        text-align: center; } }
    @media (max-width: 600px) {
      section.main-page-screen .info-block h1 {
        font-size: 36px;
        line-height: 38px;
        text-align: center;
        word-break: normal;
        white-space: normal; } }
  @media (max-width: 600px) and (max-width: 375px) {
    section.main-page-screen .info-block h1 {
      font-size: 28px;
      line-height: 30px; } }

  section.main-page-screen .info-block a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  section.main-page-screen .info-block button {
    background: #FF0000;
    font-weight: 600;
    font-size: 32px;
    line-height: 135%;
    color: #FCFCFCFC;
    text-decoration: none;
    border: none;
    padding: 6px 13px;
    cursor: pointer;
    transition: 0.3s;
    font-family: Montserrat; }
    section.main-page-screen .info-block button:active, section.main-page-screen .info-block button:focus {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
    @media (max-width: 480px) {
      section.main-page-screen .info-block button {
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        align-self: center;
        width: 60%;
        justify-self: center;
        display: inline-block;
        margin: 20%; } }
    section.main-page-screen .info-block button:active {
      background: #cc0000;
      color: #e6e6e6; }
    section.main-page-screen .info-block button:focus {
      outline: none; }
  @media (max-width: 979px) {
    section.main-page-screen {
      grid-template-columns: 1fr; } }
  @media (max-width: 979px) and (max-width: 480px) {
    section.main-page-screen {
      height: 60vh; } }

  section.main-page-screen img {
    justify-self: end;
    max-height: 70vh; }
    @media (max-width: 1440px) {
      section.main-page-screen img {
        width: 100%;
        max-height: 100%; } }
    @media (max-width: 979px) {
      section.main-page-screen img {
        display: none; } }

.channels {
  margin: 60px 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 70px;
  justify-items: center;
  align-items: center;
  transform-style: preserve-3d; }
  @media (max-width: 1200px) {
    .channels {
      grid-gap: 30px; } }
  @media (max-width: 768px) {
    .channels {
      grid-gap: 80px;
      grid-template-columns: repeat(4, 1fr); } }
  @media (max-width: 600px) {
    .channels {
      grid-gap: 50px; } }
  @media (max-width: 480px) {
    .channels {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 60px; } }
  .channels img {
    max-width: 100%; }

footer {
  z-index: 10;
  padding-bottom: 65px;
  transform-style: preserve-3d;
  transform: translateZ(10px); }
  @media (max-width: 1440px) {
    footer {
      padding-bottom: 30px; } }

.btn12 {
  display: none; }
  @media (max-width: 979px) {
    .btn12 {
      transform-style: preserve-3d;
      display: block;
      position: fixed;
      width: 60px;
      height: 60px;
      top: 40px;
      right: 10px;
      transition-duration: 0.5s;
      user-focus-pointer: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      z-index: 110; } }
  @media (max-width: 480px) {
    .btn12 {
      display: none; } }
  @media (max-width: 480px) and (max-width: 979px) {
    .btn12 {
      transform-style: preserve-3d;
      display: block;
      position: fixed;
      width: 60px;
      height: 60px;
      top: -5px;
      right: -10px;
      transition-duration: 0.5s;
      user-focus-pointer: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      z-index: 110; } }

  .btn12:after {
    display: block;
    width: 40px;
    height: 40px;
    content: "";
    z-index: 0;
    transform: translateZ(-1px);
    position: absolute;
    top: 13px;
    right: 28px; }
  .btn12 .icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 30px;
    top: 30px;
    background-color: red; }
    .btn12 .icon:before {
      transition-duration: 0.5s;
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: red;
      content: "";
      top: -10px; }
    .btn12 .icon:after {
      transition-duration: 0.5s;
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: red;
      content: "";
      top: 10px; }
  .btn12.open .icon {
    transition-duration: 0.5s;
    background: transparent; }
    .btn12.open .icon:before {
      transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px); }
    .btn12.open .icon:after {
      transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px); }
  .btn12:hover {
    cursor: pointer; }

section.interective {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  margin: 50px 0;
  grid-gap: 20px; }
  @media (max-width: 979px) {
    section.interective {
      grid-template-columns: 1fr; } }
  section.interective img {
    max-width: 650px;
    justify-self: end; }
    @media (max-width: 1440px) {
      section.interective img {
        max-width: 90%; } }
    @media (max-width: 979px) {
      section.interective img {
        max-width: 100%;
        width: 100%; } }
  section.interective .info-block {
    transform-style: preserve-3d;
    position: relative; }
    section.interective .info-block svg {
      position: absolute;
      right: -40px;
      top: -10%;
      transform: translateZ(-10px); }
      @media (max-width: 979px) {
        section.interective .info-block svg {
          right: 0;
          max-width: 60%; } }
      @media (max-width: 480px) {
        section.interective .info-block svg {
          max-width: 90%;
          opacity: 0.8; } }
    section.interective .info-block h1 {
      ransform: translateZ(10px);
      font-family: Montserrat;
      font-weight: 700;
      font-size: 64px;
      line-height: 100%;
      margin-top: 0;
      z-index: 2;
      transform-style: preserve-3d;
      color: #FCFCFCFC; }
      @media (max-width: 1440px) {
        section.interective .info-block h1 {
          font-family: Montserrat;
          font-weight: 700;
          font-size: 52px;
          line-height: 100%;
          margin-top: 0;
          z-index: 2;
          transform-style: preserve-3d;
          color: #FCFCFCFC; } }
      @media (max-width: 600px) {
        section.interective .info-block h1 {
          font-family: Montserrat;
          font-weight: 700;
          font-size: 44px;
          line-height: 100%;
          margin-top: 0;
          z-index: 2;
          transform-style: preserve-3d;
          color: #FCFCFCFC; } }
      @media (max-width: 480px) {
        section.interective .info-block h1 {
          font-family: Montserrat;
          font-weight: 700;
          font-size: 32px;
          line-height: 100%;
          margin-top: 0;
          z-index: 2;
          transform-style: preserve-3d;
          color: #FCFCFCFC; } }
      @media (max-width: 375px) {
        section.interective .info-block h1 {
          font-family: Montserrat;
          font-weight: 700;
          font-size: 28px;
          line-height: 100%;
          margin-top: 0;
          z-index: 2;
          transform-style: preserve-3d;
          color: #FCFCFCFC; } }
    section.interective .info-block p {
      font-family: Roboto Mono;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 135%;
      z-index: 2;
      color: #FCFCFCFC; }
      section.interective .info-block p span {
        text-transform: uppercase;
        color: #FFCC33; }
      @media (max-width: 1200px) {
        section.interective .info-block p {
          font-family: Roboto Mono;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 135%;
          z-index: 2;
          color: #FCFCFCFC; }
          section.interective .info-block p span {
            text-transform: uppercase;
            color: #FFCC33; } }
      @media (max-width: 600px) {
        section.interective .info-block p {
          font-family: Roboto Mono;
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 135%;
          z-index: 2;
          color: #FCFCFCFC; }
          section.interective .info-block p span {
            text-transform: uppercase;
            color: #FFCC33; } }
    section.interective .info-block a.more-info {
      display: inline-block;
      font-family: Montserrat;
      font-size: 28px;
      line-height: 135%;
      color: red;
      font-weight: 600;
      padding: 6px 13px;
      background: #FFCC33;
      transform-style: preserve-3d;
      margin: 40px 0; }
      @media (max-width: 480px) {
        section.interective .info-block a.more-info {
          display: inline-block;
          font-family: Montserrat;
          font-size: 24px;
          line-height: 135%;
          color: red;
          font-weight: 600;
          padding: 6px 13px;
          background: #FFCC33;
          transform-style: preserve-3d;
          margin: 40px 0; } }
      @media (max-width: 375px) {
        section.interective .info-block a.more-info {
          display: inline-block;
          font-family: Montserrat;
          font-size: 18px;
          line-height: 135%;
          color: red;
          font-weight: 600;
          padding: 6px 13px;
          background: #FFCC33;
          transform-style: preserve-3d;
          margin: 40px 0; } }

.tv-box {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  grid-row-gap: 100px;
  justify-items: start;
  position: relative;
  transform-style: preserve-3d;
  align-items: start; }
  @media (max-width: 1200px) {
    .tv-box {
      grid-gap: 20px;
      grid-row-gap: 30px; } }
  @media (max-width: 979px) {
    .tv-box {
      grid-template-columns: 1fr; } }
  .tv-box:not(.open) .text {
    display: none; }
    .tv-box:not(.open) .text:nth-child(1), .tv-box:not(.open) .text:nth-child(2) {
      display: block; }
  .tv-box svg {
    position: absolute;
    right: -15%;
    top: -20%;
    width: 35%;
    pointer-events: none; }
    @media (max-width: 1200px) {
      .tv-box svg {
        width: 100%;
        top: -10%;
        transform: translateZ(-1px);
        opacity: 0.3; } }
    @media (max-width: 480px) {
      .tv-box svg {
        width: 120%;
        right: -20%;
        top: -200px; } }
  .tv-box h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    margin-top: 0;
    z-index: 2;
    transform-style: preserve-3d;
    color: #FCFCFCFC;
    transform-style: preserve-3d;
    transform: translateZ(1px); }
    @media (max-width: 1200px) {
      .tv-box h1 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 42px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC; } }
  .tv-box h2 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    margin-top: 0;
    z-index: 2;
    transform-style: preserve-3d;
    color: #FCFCFCFC; }
    @media (max-width: 1200px) {
      .tv-box h2 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC; } }
    @media (max-width: 480px) {
      .tv-box h2 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 26px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC; } }
  .tv-box p {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    z-index: 2;
    color: #FCFCFCFC; }
    .tv-box p span {
      text-transform: uppercase;
      color: #FFCC33; }
    @media (max-width: 1200px) {
      .tv-box p {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 135%;
        z-index: 2;
        color: #FCFCFCFC; }
        .tv-box p span {
          text-transform: uppercase;
          color: #FFCC33; } }
  .tv-box a.more-info {
    color: #FCFCFCFC;
    font-size: 16px;
    font-weight: 500;
    align-self: end;
    font-family: Roboto Mono;
    transition: 0.3s;
    text-decoration: underline; }
    .tv-box a.more-info:hover {
      color: #FFCC33; }

section.box-grid {
  display: grid;
  margin: 50px 0;
  position: relative;
  grid-gap: 50px;
  transform-style: preserve-3d;
  grid-template-columns: repeat(4, 1fr); }
  @media (max-width: 1200px) {
    section.box-grid {
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 480px) {
    section.box-grid {
      grid-template-columns: 1fr; } }
  section.box-grid svg {
    pointer-events: none;
    position: absolute;
    top: -30%;
    right: -35%;
    transform-style: preserve-3d;
    max-width: 50%; }
    @media (max-width: 1200px) {
      section.box-grid svg {
        max-width: 100%;
        transform: translateZ(-100);
        opacity: 0.3; } }
    @media (max-width: 480px) {
      section.box-grid svg {
        max-width: 200%;
        width: 150%;
        right: -50%;
        top: 50%; } }
  section.box-grid .box h3 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    margin-top: 0;
    z-index: 2;
    transform-style: preserve-3d;
    color: #FCFCFCFC; }
    @media (max-width: 979px) {
      section.box-grid .box h3 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 26px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC; } }
  section.box-grid .box span.list {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 135%;
    z-index: 2;
    color: #FCFCFCFC;
    display: inline-block;
    margin: 5px 0; }
    section.box-grid .box span.list span {
      text-transform: uppercase;
      color: #FFCC33; }
    @media (max-width: 979px) {
      section.box-grid .box span.list {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 135%;
        z-index: 2;
        color: #FCFCFCFC;
        margin: 3px 0; }
        section.box-grid .box span.list span {
          text-transform: uppercase;
          color: #FFCC33; } }
  section.box-grid .box small {
    font-size: 12px;
    color: red; }
  section.box-grid .box .img {
    position: relative; }
    section.box-grid .box .img img {
      width: 100%; }
    section.box-grid .box .img a.form {
      position: absolute;
      top: 0;
      display: inline-block;
      font-family: Montserrat;
      font-size: 13px;
      line-height: 135%;
      color: red;
      font-weight: 600;
      padding: 6px 13px;
      background: #FFCC33;
      transform-style: preserve-3d;
      margin: 40px 0;
      margin: 0;
      background: red;
      color: #FCFCFCFC;
      transition: 0.3s; }
      section.box-grid .box .img a.form:hover {
        background: #FFCC33;
        color: red; }

.pnf {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  margin-top: 0;
  z-index: 2;
  transform-style: preserve-3d;
  color: #FCFCFCFC;
  margin: 20vh 0px; }
  @media (max-width: 979px) {
    .pnf {
      font-family: Montserrat;
      font-weight: 700;
      font-size: 26px;
      line-height: 100%;
      margin-top: 0;
      z-index: 2;
      transform-style: preserve-3d;
      color: #FCFCFCFC;
      display: grid;
      justify-self: center;
      align-self: center;
      align-content: center;
      margin: 0;
      text-align: center;
      height: 40vh; } }

section.connect {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  transform-style: preserve-3d;
  margin: 50px 0;
  grid-gap: 20px; }
  @media (max-width: 979px) {
    section.connect {
      grid-template-columns: 1fr; } }
  section.connect img {
    max-width: 650px;
    justify-self: end; }
    @media (max-width: 1440px) {
      section.connect img {
        max-width: 90%; } }
    @media (max-width: 979px) {
      section.connect img {
        max-width: 100%;
        width: 100%;
        margin-top: 50px; } }
  section.connect svg {
    position: absolute;
    left: -32%;
    top: 10%; }
    @media (max-width: 1600px) {
      section.connect svg {
        left: -40%; } }
    @media (max-width: 1440px) {
      section.connect svg {
        left: -30%;
        opacity: 0.4;
        transform: translateZ(-1px); } }
    @media (max-width: 979px) {
      section.connect svg {
        opacity: 0.3; } }
    @media (max-width: 480px) {
      section.connect svg {
        left: -30%;
        max-width: 150%;
        top: -10%; } }
  section.connect .info-block h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    margin-top: 0;
    z-index: 2;
    transform-style: preserve-3d;
    color: #FCFCFCFC;
    line-height: 150%; }
    @media (max-width: 1200px) {
      section.connect .info-block h1 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC; } }
    @media (max-width: 480px) {
      section.connect .info-block h1 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC;
        line-height: 140%; } }
  section.connect .info-block .list {
    display: grid;
    grid-template-columns: 20px auto;
    width: 100%;
    grid-column-gap: 65px;
    margin-bottom: 10px;
    transition: 0.3s;
    align-items: center; }
    section.connect .info-block .list small {
      font-family: Montserrat;
      font-weight: 700;
      font-size: 72px;
      line-height: 100%;
      margin-top: 0;
      z-index: 2;
      transform-style: preserve-3d;
      color: #FCFCFCFC;
      color: red; }
    section.connect .info-block .list p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 135%;
      z-index: 2;
      color: #FCFCFCFC; }
      section.connect .info-block .list p span {
        text-transform: uppercase;
        color: #FFCC33; }
    section.connect .info-block .list:hover {
      cursor: default; }
      section.connect .info-block .list:hover p, section.connect .info-block .list:hover small {
        color: #FFCC33; }

section.subs {
  position: relative;
  margin-bottom: 50px;
  transform-style: preserve-3d;
  transform: translateZ(1px);
  z-index: 0; }
  section.subs svg {
    position: absolute;
    top: -25%;
    right: -30%;
    transform-style: preserve-3d;
    transform: translateZ(-10px); }
    @media (max-width: 1440px) {
      section.subs svg {
        max-width: 60%;
        right: -35%;
        opacity: 0.3; } }
    @media (max-width: 979px) {
      section.subs svg {
        opacity: 0.3;
        max-width: 100%; } }
  section.subs h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    margin-top: 0;
    z-index: 2;
    transform-style: preserve-3d;
    color: #FCFCFCFC; }
    @media (max-width: 768px) {
      section.subs h1 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC; } }
  section.subs .subs-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 100px;
    transform-style: preserve-3d;
    transform: translateZ(1px); }
    @media (max-width: 979px) {
      section.subs .subs-grid {
        grid-template-columns: 1fr;
        grid-gap: 50px; } }
    section.subs .subs-grid .sub {
      display: grid;
      justify-items: stretch; }
      section.subs .subs-grid .sub img {
        background: red;
        padding: 10%;
        transition: 0.3s;
        max-width: 80%; }
        section.subs .subs-grid .sub img:hover {
          background: #db0000; }
    section.subs .subs-grid .row {
      margin: 20px 0;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr; }
      section.subs .subs-grid .row span {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC; }
      section.subs .subs-grid .row price {
        display: inline-block;
        font-family: Montserrat;
        font-size: 32px;
        line-height: 135%;
        color: red;
        font-weight: 600;
        padding: 6px 13px;
        background: #FFCC33;
        transform-style: preserve-3d;
        margin: 40px 0;
        display: inline;
        font-weight: 700;
        justify-self: end;
        margin: 0;
        line-height: 32px;
        text-align: center; }
    section.subs .subs-grid .form {
      display: inline-block;
      font-family: Montserrat;
      font-size: 13px;
      line-height: 135%;
      color: red;
      font-weight: 600;
      padding: 6px 13px;
      background: #FFCC33;
      transform-style: preserve-3d;
      margin: 40px 0;
      margin: 0;
      background: red;
      color: #FCFCFCFC;
      transition: 0.3s;
      justify-self: start; }
      @media (max-width: 768px) {
        section.subs .subs-grid .form {
          display: inline-block;
          font-family: Montserrat;
          font-size: 24px;
          line-height: 135%;
          color: red;
          font-weight: 600;
          padding: 6px 13px;
          background: #FFCC33;
          transform-style: preserve-3d;
          margin: 40px 0;
          width: 90%;
          text-align: center;
          justify-self: center; } }
      section.subs .subs-grid .form:hover {
        background: #FFCC33;
        color: red; }

section.contact {
  margin: 150px 0;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 2fr; }
  @media (max-width: 1200px) {
    section.contact {
      grid-template-columns: 1fr; } }
  section.contact .links h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    margin-top: 0;
    z-index: 2;
    transform-style: preserve-3d;
    color: #FCFCFCFC;
    font-weight: 900; }
    @media (max-width: 1440px) {
      section.contact .links h1 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 54px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC; } }
    @media (max-width: 480px) {
      section.contact .links h1 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC; } }
  section.contact .links span {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    z-index: 2;
    color: #FCFCFCFC;
    display: inline-block;
    width: 100%;
    opacity: 0.8;
    display: inline-block;
    margin-bottom: 10px; }
    section.contact .links span span {
      text-transform: uppercase;
      color: #FFCC33; }
    @media (max-width: 1440px) {
      section.contact .links span {
        margin-bottom: 5px;
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 135%;
        z-index: 2;
        color: #FCFCFCFC; }
        section.contact .links span span {
          text-transform: uppercase;
          color: #FFCC33; } }
    @media (max-width: 480px) {
      section.contact .links span {
        margin-bottom: 2px;
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 135%;
        z-index: 2;
        color: #FCFCFCFC; }
        section.contact .links span span {
          text-transform: uppercase;
          color: #FFCC33; } }
  section.contact .links a {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    margin-top: 0;
    z-index: 2;
    transform-style: preserve-3d;
    color: #FCFCFCFC;
    color: #FCFCFCFC;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 40px; }
    @media (max-width: 1440px) {
      section.contact .links a {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC; } }
    @media (max-width: 480px) {
      section.contact .links a {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 26px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC;
        margin-bottom: 20px; } }
  section.contact .send {
    padding-top: 50px;
    margin-left: 150px; }
    @media (max-width: 1200px) {
      section.contact .send {
        margin-left: 0; } }
    @media (max-width: 480px) {
      section.contact .send {
        padding-top: 20px; } }
    section.contact .send span {
      width: 100%;
      display: inline-block;
      font-family: Montserrat;
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      margin-top: 0;
      z-index: 2;
      transform-style: preserve-3d;
      color: #FCFCFCFC; }
      @media (max-width: 1440px) {
        section.contact .send span {
          font-family: Montserrat;
          font-weight: 700;
          font-size: 36px;
          line-height: 100%;
          margin-top: 0;
          z-index: 2;
          transform-style: preserve-3d;
          color: #FCFCFCFC; } }
      @media (max-width: 480px) {
        section.contact .send span {
          font-family: Montserrat;
          font-weight: 700;
          font-size: 36px;
          line-height: 100%;
          margin-top: 0;
          z-index: 2;
          transform-style: preserve-3d;
          color: #FCFCFCFC;
          display: inline-block;
          margin-bottom: 50px; } }
    section.contact .send textarea {
      margin-top: 50px;
      background: transparent;
      border: none;
      border-bottom: solid 1px gray;
      width: 100%;
      height: 1em;
      overflow-x: hidden;
      resize: vertical;
      padding-bottom: 10px;
      font-family: Roboto Mono;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 135%;
      z-index: 2;
      color: #FCFCFCFC;
      color: #FFCC33;
      font-weight: 300; }
      section.contact .send textarea::-webkit-scrollbar {
        background: transparent; }
      section.contact .send textarea span {
        text-transform: uppercase;
        color: #FFCC33; }
      @media (max-width: 480px) {
        section.contact .send textarea {
          font-family: Roboto Mono;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 135%;
          z-index: 2;
          color: #FCFCFCFC;
          height: 5em;
          margin-top: 50px; }
          section.contact .send textarea span {
            text-transform: uppercase;
            color: #FFCC33; } }
      section.contact .send textarea:focus {
        outline: none; }
      section.contact .send textarea::placeholder {
        color: #FCFCFCFC;
        opacity: 0.3;
        font-weight: 400; }
    section.contact .send a {
      display: inline-block;
      font-family: Montserrat;
      font-size: 18px;
      line-height: 135%;
      color: red;
      font-weight: 600;
      padding: 6px 13px;
      background: #FFCC33;
      transform-style: preserve-3d;
      margin: 40px 0;
      display: inline-block;
      float: right; }

section.channels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px 0 100px; }
  @media (max-width: 1200px) {
    section.channels {
      grid-template-columns: 2fr 1fr; } }
  @media (max-width: 979px) {
    section.channels {
      grid-template-columns: 1fr;
      padding-bottom: 100px; } }
  @media (max-width: 480px) {
    section.channels {
      padding-bottom: 0;
      margin-bottom: 0; } }
  section.channels h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    margin-top: 0;
    z-index: 2;
    transform-style: preserve-3d;
    color: #FCFCFCFC;
    color: #FCFCFCFC; }
    @media (max-width: 1440px) {
      section.channels h1 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 54px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC; } }
    @media (max-width: 480px) {
      section.channels h1 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC; } }
  section.channels p {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    z-index: 2;
    color: #FCFCFCFC;
    font-weight: 300; }
    section.channels p span {
      text-transform: uppercase;
      color: #FFCC33; }
    section.channels p .blue {
      color: #3875d7; }
    section.channels p .yello {
      color: #FFCC33; }
    @media (max-width: 600px) {
      section.channels p {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 135%;
        z-index: 2;
        color: #FCFCFCFC;
        line-height: 150%;
        margin-top: 50px; }
        section.channels p span {
          text-transform: uppercase;
          color: #FFCC33; } }

.channels-grid {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 32px; }
  @media (max-width: 979px) {
    .channels-grid {
      grid-template-columns: repeat(4, 1fr); } }
  @media (max-width: 480px) {
    .channels-grid {
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px;
      grid-row-gap: 30px; } }
  .channels-grid .channel {
    display: grid; }
    .channels-grid .channel .img {
      background: white;
      padding: 10px 30px; }
      .channels-grid .channel .img img {
        width: 100%; }
    .channels-grid .channel .name {
      padding: 10px 0;
      width: 100%;
      text-align: center;
      background: #FFCC33;
      color: black;
      font-size: 16px; }

.faq {
  position: relative;
  transform-style: preserve-3d;
  margin: 50px 20vw 50px 0; }
  @media (max-width: 979px) {
    .faq {
      margin: 50px 0; } }
  .faq svg {
    transform: translateZ(-1px);
    position: absolute;
    top: 10%;
    right: -70%; }
    @media (max-width: 979px) {
      .faq svg {
        opacity: 0.3;
        top: -5%; } }
  .faq h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    margin-top: 0;
    z-index: 2;
    transform-style: preserve-3d;
    color: #FCFCFCFC;
    color: #FCFCFCFC; }
    @media (max-width: 1440px) {
      .faq h1 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 54px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC; } }
    @media (max-width: 480px) {
      .faq h1 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC; } }
    .faq h1 a {
      margin-left: 100px;
      color: #FCFCFCFC;
      font-size: 16px;
      font-weight: 500;
      align-self: end;
      font-family: Roboto Mono;
      transition: 0.3s;
      text-decoration: underline; }
      @media (max-width: 480px) {
        .faq h1 a {
          white-space: nowrap;
          margin-left: 0;
          font-size: 10px; } }
      .faq h1 a:hover {
        color: #FFCC33; }
  .faq h2 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
    margin-top: 0;
    z-index: 2;
    transform-style: preserve-3d;
    color: #FCFCFCFC;
    font-weight: 700;
    margin: 0;
    transition: 0.3s;
    line-height: 120%; }
    @media (max-width: 979px) {
      .faq h2 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC; } }
    @media (max-width: 480px) {
      .faq h2 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 28px;
        line-height: 100%;
        margin-top: 0;
        z-index: 2;
        transform-style: preserve-3d;
        color: #FCFCFCFC;
        margin: 30px 0 10px; } }
    .faq h2:hover {
      color: #FFCC33;
      cursor: default; }
  .faq p {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 135%;
    z-index: 2;
    color: #FCFCFCFC; }
    .faq p span {
      text-transform: uppercase;
      color: #FFCC33; }
    @media (max-width: 480px) {
      .faq p {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 135%;
        z-index: 2;
        color: #FCFCFCFC; }
        .faq p span {
          text-transform: uppercase;
          color: #FFCC33; } }
    .faq p a {
      color: #FCFCFCFC;
      transition: 0.3s;
      text-decoration: underline; }
      .faq p a:hover {
        color: #FFCC33; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  transition: 0.3s;
  justify-items: center;
  align-items: center;
  z-index: 99999; }
  .overlay.active {
    display: grid; }
  @media (max-width: 480px) {
    .overlay {
      background: black; } }
  .overlay .modal {
    display: grid;
    position: relative;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(-100px);
    transition: 0.8s;
    background: #000;
    border: 5px solid #FFCC33;
    padding: 40px 30px;
    width: 500px; }
    .overlay .modal span.wrong {
      display: none; }
    .overlay .modal.wrong span.wrong {
      display: inline;
      position: absolute;
      bottom: 50px;
      right: 30px;
      font-family: Roboto Mono;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 135%;
      z-index: 2;
      color: #FCFCFCFC;
      color: red;
      font-weight: 600; }
      .overlay .modal.wrong span.wrong span {
        text-transform: uppercase;
        color: #FFCC33; }
    @media (max-width: 480px) {
      .overlay .modal {
        width: calc(100vw - 6px);
        height: calc(100vh - 10px);
        align-content: center;
        padding: 30px 20px; } }
    .overlay .modal h2 {
      font-family: Montserrat;
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      margin-top: 0;
      z-index: 2;
      transform-style: preserve-3d;
      color: #FCFCFCFC;
      font-weight: 700;
      margin: 0 0 20px;
      line-height: 130%; }
      @media (max-width: 375px) {
        .overlay .modal h2 {
          font-family: Montserrat;
          font-weight: 700;
          font-size: 18px;
          line-height: 100%;
          margin-top: 0;
          z-index: 2;
          transform-style: preserve-3d;
          color: #FCFCFCFC; } }
    .overlay .modal input {
      background: transparent;
      outline: none;
      border: none;
      color: #FCFCFCFC;
      margin-bottom: 20px;
      font-family: Roboto Mono;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 135%;
      z-index: 2;
      color: #FCFCFCFC;
      padding-bottom: 5px;
      line-height: 130%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
      .overlay .modal input span {
        text-transform: uppercase;
        color: #FFCC33; }
      @media (max-width: 375px) {
        .overlay .modal input {
          font-family: Roboto Mono;
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 135%;
          z-index: 2;
          color: #FCFCFCFC; }
          .overlay .modal input span {
            text-transform: uppercase;
            color: #FFCC33; } }
      .overlay .modal input:focus, .overlay .modal input:active {
        background: transparent; }
    .overlay .modal a.send {
      display: inline-block;
      font-family: Montserrat;
      font-size: 14px;
      line-height: 135%;
      color: red;
      font-weight: 600;
      padding: 6px 13px;
      background: #FFCC33;
      transform-style: preserve-3d;
      margin: 40px 0;
      display: inline-block;
      text-align: center;
      width: 100px;
      margin-bottom: 0;
      margin-top: 10px; }
  .overlay svg {
    position: absolute;
    top: 15px;
    right: 15px;
    user-select: none;
    cursor: pointer; }

.msg {
  display: none;
  position: fixed;
  text-align: center;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 135%;
  z-index: 2;
  color: #FCFCFCFC;
  width: 100%;
  color: rgba(255, 204, 51, 0);
  opacity: 0;
  transition: 0.3s;
  font-weight: 700;
  margin-top: 40vh; }
  .msg span {
    text-transform: uppercase;
    color: #FFCC33; }
  .msg.active {
    opacity: 1;
    display: inline-block;
    color: #ffcc33; }

/*# sourceMappingURL=master.css.map */
