@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap')
*
  box-sizeng: border-box

$red: #FF0000

$dark: red
$light: #000
$color: red
$white: #FCFCFCFC

@mixin h1($size)
  font-family: Montserrat
  font-weight: 700
  font-size: $size
  line-height: 100%
  margin-top: 0
  z-index: 2
  transform-style: preserve-3d
  color: $white

@mixin a_button($size)
  display: inline-block
  font-family: Montserrat
  font-size: $size
  line-height: 135%
  color: red
  font-weight: 600
  padding: 6px 13px
  background: #FFCC33
  transform-style: preserve-3d
  margin: 40px 0


@mixin p($size, $font)
  font-family: $font
  font-style: normal
  font-weight: 500
  font-size: $size
  line-height: 135%
  z-index: 2
  color: $white
  span
    text-transform: uppercase
    color: #FFCC33

@mixin btn($right, $top)
  display: none
  @include _979
    transform-style: preserve-3d
    display: block
    position: fixed
    width: 60px
    height: 60px
    top: $top
    right: $right
    transition-duration: 0.5s
    user-focus-pointer: none
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    z-index: 110

@mixin icon($height, $width)
  transition-duration: 0.5s
  position: absolute
  height: $height
  width: $width
  top: 30px
  background-color: $dark


@mixin icon-before($height, $width, $top)
  transition-duration: 0.5s
  position: absolute
  width: $width
  height: $height
  background-color: $dark
  content: ""
  top: $top


@mixin icon-after($height, $width, $top)
  transition-duration: 0.5s
  position: absolute
  width: $width
  height: $height
  background-color: $dark
  content: ""
  top: $top


@mixin icon-circle($height, $width)
  transition-duration: 0.5s
  position: absolute
  height: $height
  width: $width
  top: 2px
  border-radius: 100%
  background: transparent
  border: 4px solid black
  left: -15px


@mixin _1600
  @media (max-width: 1600px)
    @content

@mixin _1440
  @media (max-width: 1440px)
    @content


@mixin _1200
  @media (max-width: 1200px)
    @content

@mixin _480
  @media (max-width: 480px)
    @content

@mixin _979
  @media (max-width: 979px)
    @content


@mixin _768
  @media (max-width: 768px)
    @content


@mixin _600
  @media (max-width: 600px)
    @content

@mixin _375
  @media (max-width: 375px)
    @content

@mixin _350
  @media (max-width: 350px)
    @content

@mixin _320
  @media (max-width: 320px)
    @content

html, body
  width: 100vw
  display: grid
  justify-items: center
  max-width: 100vw
  box-sizing: border-box
  font-family: Montserrat
  margin: 0
  padding: 0
  background: #222
  color: $white
  overflow-x: hidden

  &.fixed
    overflow: hidden

container
  width: 80vw
  padding: 30px 0 0
  box-sizing: border-box
  @include _1440
    width: 90vw
    padding: 30px 0 0
  @include _1200
  @include _480
    margin-top: 50px
    //overflow-x: hidden
  font-family: Montserrat
  @media (min-width: 1920px)
    width: 1600px


a, p, span, div
  text-decoration: none
  font-weight: 600
  font-size: 16px
  line-height: 22px
  font-family: Montserrat

header, footer
  display: grid
  grid-template-columns: 200px 1fr
  align-items: center

  z-index: 10
  @include _1440
    grid-template-columns: 101px 1fr
  @include _1200
    grid-template-columns: 20px 1fr

  svg
    @include _480
      max-width: 50px
      margin-left: 15px
      max-height: 50px

  span
    font-family: Roboto Mono
    font-size: 18px
    @include _1200
      font-size: 15px

  nav
    justify-self: end

    @include _979
      display: none

    a
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
      text-decoration: none
      color: $white
      font-weight: 600
      font-size: 15px
      line-height: 17px
      margin-left: 25px

      &.active
        color: #FFCC33

      @include _1440
        margin-left: 10px
        font-size: 13px
//color: yellow

header
  @include _480
    position: fixed
    top: 0
    right: 0
    width: 100%
    background: #111
    padding: 0
    z-index: 99

#navigation
  @include _979
    box-sizing: border-box
    display: grid
    position: fixed
    top: 0
    width: 300px
    right: -300px
    transition: .3s
    height: 100vh
    padding: calc(50vh - 35%) 30px 30px
    align-content: start
    background: rgba(black, .9)
    z-index: 100
    @include _480
      width: 100vw
      right: -100%
      padding: calc(50vh - 70%) 30px 30px
      a
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
        font-size: 18px
        margin: 5px 0 5px 20px
        line-height: 140%
    &.open
      right: 0
      @include _480
        right: 0
    a
      padding: 15px 0
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

section.main-page-screen
  display: grid
  align-items: center
  grid-template-columns: 1fr 1fr
  padding: 50px 0
  grid-gap: 50px

  .info-block
    svg
      transform: translateY(70px) translateX(50px)
      width: 80%
      @include _768
        transform: translateY(30px) translateX(20px)

    h1
      font-weight: bold
      font-size: 48px
      word-break: keep-all
      white-space: nowrap
      line-height: 70px
      @include _768
        font-size: 50px
        line-height: 55px
        text-align: center
      @include _600

        font-size: 36px
        line-height: 38px
        text-align: center
        word-break: normal
        white-space: normal
        @include _375
          font-size: 28px
          line-height: 30px
    a
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    button

      background: $red
      font-weight: 600
      font-size: 32px
      line-height: 135%
      color: $white
      text-decoration: none
      border: none
      padding: 6px 13px
      cursor: pointer
      transition: .3s
      &:active, &:focus
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
      font-family: Montserrat

      @include _480
        font-size: 24px
        line-height: 26px
        text-align: center
        align-self: center
        width: 60%
        justify-self: center
        display: inline-block
        margin: 20%

      &:active
        background: darken($red, 10)
        color: darken(white, 10)

      &:focus
        outline: none

  @include _979
    grid-template-columns: 1fr
    @include _480
      height: 60vh

  img
    justify-self: end
    max-height: 70vh
    @include _1440
      width: 100%
      max-height: 100%
    @include _979
      display: none

.channels
  margin: 60px 0
  display: grid
  grid-template-columns: repeat(8, 1fr)
  grid-gap: 70px
  justify-items: center
  align-items: center
  transform-style: preserve-3d
  @include _1200
    grid-gap: 30px
  @include _768
    grid-gap: 80px
    grid-template-columns: repeat(4, 1fr)
  @include _600
    grid-gap: 50px
  @include _480
    display: none

  img
    max-width: 100%

footer
  z-index: 10
  padding-bottom: 65px
  transform-style: preserve-3d
  transform: translateZ(10px)
  @include _1440
    padding-bottom: 30px
  @include _480
    grid-template-columns: 1fr
    span
      width: 100%
      text-align: center
      color: #FFCC33

.btn12
  @include btn(10px, 40px)

  @include _480
    @include btn(-10px, -5px)

  &:after
    display: block
    width: 40px
    height: 40px
    content: ''
    //background: black
    z-index: 0
    transform: translateZ(-1px)
    position: absolute
    top: 13px
    right: 28px

  .icon
    @include icon(4px, 30px)

    &:before
      @include icon-before(4px, 30px, -10px)

    &:after
      @include icon-after(4px, 30px, 10px)

  &.open
    .icon
      transition-duration: 0.5s
      background: transparent

      &:before
        transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px)

      &:after
        transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px)

  &:hover
    cursor: pointer


section.interective
  display: grid
  grid-template-columns: 1fr 1fr
  align-items: start
  margin: 50px 0
  grid-gap: 20px
  @include _979
    grid-template-columns: 1fr

  img
    max-width: 650px
    justify-self: end
    @include _1440
      max-width: 90%
    @include _979
      max-width: 100%
      width: 100%

  .info-block
    transform-style: preserve-3d
    position: relative

    svg
      position: absolute
      right: -40px
      top: -10%
      transform: translateZ(-10px)
      @include _979
        right: 0
        max-width: 60%
      @include _480
        max-width: 90%
        opacity: .8

    h1
      ransform: translateZ(10px)
      @include h1(48px)
      @include _1440
        @include h1(52px)
      @include _600
        @include h1(44px)
      @include _480
        @include h1(32px)
      @include _375
        @include h1(28px)

    p
      @include p(16px, Roboto Mono)
      @include _1200
        @include p(14px, Roboto Mono)
      @include _600
        @include p(13px, Roboto Mono)

    a.more-info
      @include a_button(28px)
      @include _480
        @include a_button(24px)
      @include _375
        @include a_button(18px)

.tv-box
  margin-top: 50px
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 50px
  grid-row-gap: 100px
  justify-items: start
  position: relative
  transform-style: preserve-3d
  align-items: start
  @include _1200
    grid-gap: 20px
    grid-row-gap: 30px
  @include _979
    grid-template-columns: 1fr

  &:not(.open)
    .text
      display: none
      &:nth-child(1), &:nth-child(2)
        display: block
  svg
    position: absolute
    right: -15%
    top: -20%
    width: 35%
    pointer-events: none


    @include _1200
      width: 100%
      top: -10%
      transform: translateZ(-1px)
      opacity: .3
    @include _480
      width: 120%
      right: -20%
      top: -200px


  h1
    @include h1(48px)
    transform-style: preserve-3d
    transform: translateZ(1px)
    @include _1200
      @include h1(42px)

  h2
    @include h1(48px)
    @include _1200
      @include h1(36px)
    @include _480
      @include h1(26px)

  p
    @include p(16px, Roboto Mono)
    @include _1200
      @include p(14px, Roboto Mono)

  a.more-info
    color: $white
    font-size: 16px
    font-weight: 500
    align-self: end
    font-family: Roboto Mono
    transition: .3s
    text-decoration: underline

    &:hover
      color: #FFCC33

section.box-grid
  display: grid
  margin: 50px 0
  position: relative
  grid-gap: 50px
  transform-style: preserve-3d
  grid-template-columns: repeat(4, 1fr)
  @include _1200
    grid-template-columns: 1fr 1fr
  @include _480
    grid-template-columns: 1fr

  svg
    pointer-events: none
    position: absolute
    top: -30%
    right: -35%
    transform-style: preserve-3d
    max-width: 50%
    @include _1200
      max-width: 100%
      transform: translateZ(-100)
      opacity: .3
    @include _480
      max-width: 200%
      width: 150%
      right: -50%
      top:  50%
      display: none

  .box
    h3
      @include h1(36px)
      @include _979
        @include h1(26px)

    span.list
      @include p(13px, Roboto Mono)
      display: inline-block
      margin: 5px 0
      @include _979
        @include p(12px, Roboto Mono)
        margin: 3px 0

    small
      font-size: 12px
      color: red

    a.more-info
      color: $white
      font-size: 16px
      font-weight: 500
      align-self: end
      font-family: Roboto Mono
      transition: .3s
      text-decoration: underline
      &:hover
        color: $red

    .img
      img
        width: 100%
      position: relative

      a.form
        position: absolute
        top: 0

        @include a_button(13px)
        margin: 0
        background: red
        color: $white
        transition: .3s

        &:hover
          background: #FFCC33
          color: red

.pnf
  @include h1(48px)

  margin: 20vh 0px
  @include _979
    @include h1(26px)
    display: grid
    justify-self: center
    align-self: center
    align-content: center
    margin: 0
    text-align: center
    height: 40vh

section.connect
  display: grid
  grid-template-columns: 1fr 1fr
  align-items: start
  transform-style: preserve-3d
  margin: 50px 0
  grid-gap: 20px
  @include _979
    grid-template-columns: 1fr
  img
    max-width: 650px
    justify-self: end
    @include _1440
      max-width: 90%
    @include _979
      max-width: 100%
      width: 100%
      margin-top: 50px

  svg
    position: absolute
    left: -32%
    top: 10%
    @include  _1600
      left: -40%
    @include _1440
      left: -30%
      opacity: .4
      transform: translateZ(-1px)
    @include _979
      opacity: .3
    @include _480
      left: -30%
      max-width: 150%
      top: -10%

  .info-block
    h1
      @include h1(48px)
      line-height: 150%
      margin-bottom: 10px
      @include _1200
        @include h1(36px)
      @include _480
        @include h1(42px)
        line-height: 140%

    h2
      @include h1(36px)
      @include _768
        @include h1(24px)
        line-height: 150%
        text-align: center
    .list
      display: grid
      grid-template-columns: 20px auto
      width: 100%
      grid-column-gap: 65px
      margin-bottom: 10px
      transition: .3s
      align-items: center
      @include _480
        p
          margin: 0

      small
        @include h1(72px)
        color: $red !important
        @include _480
          @include h1(62px)
      p
        @include p(24px, Montserrat)
        @include p(24px, Montserrat)
        @include _480
          @include p(16px, Montserrat)
      &:hover
        cursor: default

        p, small
          color: #FFCC33


section.subs
  position: relative
  margin-bottom: 50px
  transform-style: preserve-3d
  transform: translateZ(1px)
  z-index: 0
  svg
    position: absolute
    top: -25%
    right: -30%
    transform-style: preserve-3d
    transform: translateZ(-10px)
    @include _1440
      max-width: 60%
      right: -35%
      opacity: .3
    @include _979

      opacity: .3
      max-width: 100%

  h1
    @include h1(48px)
    @include _768
      @include h1(36px)

  .subs-grid
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 100px
    transform-style: preserve-3d
    transform: translateZ(1px)
    @include _979
      grid-template-columns: 1fr
      grid-gap: 50px

    .sub
      display: grid
      justify-items: stretch

      img
        background: red
        padding: 10%
        transition: .3s
        max-width: 80%

        &:hover
          background: darken(red, 7)

    .row
      margin: 20px 0
      display: grid
      align-items: center
      grid-template-columns: 1fr 1fr

      span
        @include h1(32px)

      price
        @include a_button(32px)
        display: inline
        font-weight: 700
        justify-self: end
        margin: 0
        line-height: 32px
        text-align: center

    .form
      @include a_button(13px)
      @include _768
        @include a_button(24px)
        width: 90%
        text-align: center
        justify-self: center
      margin: 0
      background: red
      color: $white
      transition: .3s
      justify-self: start

      &:hover
        background: #FFCC33
        color: red


section.contact
  margin: 150px 0
  display: grid
  grid-gap: 50px
  grid-template-columns: 1fr 2fr
  @include _1200
    grid-template-columns: 1fr

  .links
    h1
      @include h1(48px)
      font-weight: 900
      @include _1440
        @include h1(42px)
      @include _480
        @include h1(36px)

    span
      @include p(16px, Roboto Mono)
      display: inline-block
      width: 100%
      opacity: .8
      display: inline-block
      margin-bottom: 10px
      @include _1440
        margin-bottom: 5px
        @include p(14px, Roboto Mono)
      @include _480
        margin-bottom: 2px
        @include p(12px, Roboto Mono)

    a
      @include h1(48px)
      color: $white
      display: inline-block
      font-weight: 700
      margin-bottom: 40px
      @include _1440
        @include h1(36px)
      @include _480
        @include h1(26px)
        margin-bottom: 20px

  .send
    padding-top: 50px
    margin-left: 150px
    @include _1200
      margin-left: 0
    @include _480
      padding-top: 20px

    span
      width: 100%
      display: inline-block
      @include h1(48px)
      @include _1440
        @include h1(36px)
      @include _480
        @include h1(36px)
        display: inline-block
        margin-bottom: 50px

    textarea
      margin-top: 50px
      background: transparent
      border: none
      border-bottom: solid 1px gray
      width: 100%
      height: 1em
      overflow-x: hidden
      resize: vertical

      &::-webkit-scrollbar
        background: transparent

      padding-bottom: 10px
      @include p(18px, Roboto Mono)
      color: #FFCC33
      font-weight: 300
      @include _480
        @include p(14px, Roboto Mono)
        height: 5em

        margin-top: 50px

      &:focus
        outline: none

      &::placeholder
        color: $white
        opacity: .3
        font-weight: 400

    a
      @include a_button(18px)

      display: inline-block
      float: right

section.channels
  display: grid
  grid-template-columns: 1fr 1fr
  margin: 50px 0 100px
  @include _1200
    grid-template-columns: 2fr 1fr
  @include _979
    grid-template-columns: 1fr
    padding-bottom: 100px
  @include _480
    padding-bottom: 0
    margin-bottom: 0

  h1
    @include h1(48px)
    color: $white
    @include _1440
      @include h1(54px)
    @include _480
      @include h1(36px)

  p
    @include p(16px, Roboto Mono)

    .blue
      color: #3875d7

    .yello
      color: #FFCC33
    font-weight: 300
    @include _600
      @include p(14px, Roboto Mono)
      line-height: 150%

      margin-top: 50px

.channels-grid
  padding-top: 50px
  display: grid
  grid-template-columns: repeat(8, 1fr)
  grid-gap: 32px
  @include _979
    grid-template-columns: repeat(4, 1fr)
  @include _480
    grid-template-columns: 1fr 1fr
    grid-gap: 16px
    grid-row-gap: 30px

  .channel
    display: grid

    .img
      background: white
      padding: 10px 30px

      img
        width: 100%

    .name
      padding: 10px 0
      width: 100%
      text-align: center
      background: #FFCC33
      color: black
      font-size: 16px
  a.more-info
    color: $white
    font-size: 16px
    font-weight: 500
    align-self: end
    font-family: Roboto Mono
    transition: .3s
    text-decoration: underline

    &:hover
      color: $red
.faq
  position: relative
  transform-style: preserve-3d
  margin: 50px 20vw 50px 0
  @include _979
    margin: 50px 0

  svg
    transform: translateZ(-1px)
    position: absolute
    top: 10%
    right: -70%
    @include _979
      opacity: .3
      top: -5%

  h1

    @include h1(48px)
    color: $white

    @include _1440
      @include h1(54px)
    @include _480
      @include h1(48px)

    a
      margin-left: 100px
      color: $white
      font-size: 16px
      font-weight: 500
      align-self: end
      font-family: Roboto Mono
      transition: .3s
      text-decoration: underline
      @include _480
        white-space: nowrap
        margin-left: 0
        font-size: 10px

      &:hover
        color: #FFCC33

  h2
    @include h1(44px)
    @include _979
      @include h1(36px)
    @include _480
      @include h1(28px)
      margin: 30px 0 10px
    font-weight: 700
    margin: 0
    transition: .3s
    line-height: 120%

    &:hover
      color: #FFCC33
      cursor: default

  p
    @include p(15px, Roboto Mono)

    @include _480
      @include p(13px, Roboto Mono)

    a
      color: $white
      transition: .3s
      text-decoration: underline

      &:hover
        color: #FFCC33


.overlay
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background: rgba(#000, .6)
  display: none
  transition: .3s
  justify-items: center
  align-items: center
  z-index: 99999

  &.active
    display: grid

  @include _480
    background: black

  .modal
    display: grid
    position: relative
    box-sizing: border-box
    opacity: 0
    transform: translateY(-100px)
    transition: .8s
    background: #000
    border: 5px solid #FFCC33
    padding: 40px 30px
    width: 500px

    span.wrong
      display: none

    &.wrong
      span.wrong
        display: inline

        position: absolute
        bottom: 50px
        right: 30px
        @include p(12px, Roboto Mono)
        color: red
        font-weight: 600

    @include _480
      width: calc(100vw - 6px)
      height: calc(100vh - 10px)
      align-content: center
      padding: 30px 20px

    h2
      @include h1(24px)
      font-weight: 700
      margin: 0 0 20px
      line-height: 130%
      @include _375
        @include h1(18px)

    input
      background: transparent
      outline: none
      border: none
      color: $white
      margin-bottom: 20px
      @include p(14px, Roboto Mono)
      padding-bottom: 5px
      line-height: 130%
      @include _375
        @include p(13px, Roboto Mono)

      &:focus, &:active
        background: transparent
      border-bottom: 1px solid rgba(white, .5)

    a.send
      @include a_button(14px)
      display: inline-block
      text-align: center
      width: 100px
      margin-bottom: 0
      margin-top: 10px

  svg
    position: absolute
    top: 15px
    right: 15px
    user-select: none
    cursor: pointer

.msg
  display: none
  position: fixed
  text-align: center
  @include p(32px, Roboto Mono)
  width: 100%
  color: rgba(#FFCC33, 0)
  opacity: 0
  transition: .3s
  font-weight: 700
  margin-top: 40vh

  &.active
    opacity: 1
    display: inline-block
    color: rgba(#FFCC33, 1)


img.mobile-footer
  display: none
  @include _480
    display: block
    max-width: 25vw
    margin: 20px auto
    justify-self: center