{% extends 'base.html' %} {% load static %} {% block content %}
    <section class="channels">
        <div class="">
            <h1>ТВ каналы</h1>
            <p>Интерактивное телевидение ТВ ЗНАК предлагает более 400 телевизионных каналов разных категорий.
                Для комфортного поиска любимых каналов мы предлагаем составить свой индивидуальный набор каналов, создав
                папку <span class="yello">ИЗБРАННОЕ</span>.

            <p>1 Нажмите на пульте кнопку ОК и войдите в список каналов. <br>
                2 Нажмите на пульте <span class="blue">СИНЮЮ</span> кнопку.<br>
                3 Введите защитный код (предоставляется c заказом).<br>
                4 Выберите любимый канал и нажмите на пульте снова <span class="blue">СИНЮЮ</span> кнопку. <br>
                5 Выплывет
                окошко с вариантами, выберите
                <span class="yello">ИЗБРАННОЕ</span>  и нажмите ОК.
                <br>
                6 Выбранный канал попал в папку <span class="yello">ИЗБРАННОЕ</span> и отмечен в списке сердечком ♥.</p>
             <a href="{% static 'manual_rus.pdf' %}" target="_blank" class="more-info">Инструкция</a>
        </div>
        <img src="{% static 'img/Group 843.png' %}" alt="">
    </section>
    <h1>Все каналы</h1>

    <div class="channels-grid">
    {% for channel in channels %}
            <div class="channel">
            <div class="img">
                <img src="{{ channel.image.url }}" alt="">
            </div>
            <div class="name">
                {{ channel.title }}
            </div>
        </div>
    {% endfor %}
        <a href="{% static 'sample.pdf' %}" target="_blank" class="more-info">Все каналы</a>

    </div>
    <img class="mobile-footer" src="{% static 'img/footer/ico_atom.png' %}" alt="">
{% endblock %}