{% extends 'base.html' %} {% load static %} {% block content %}
    <section class="connect">


        <div class="info-block">

            <h1>Подключение <br>
                <h2>Как подключить ТВ - ЗНАК?</h2></h1>

            <span class="list">
                <small>1</small>
                <p>Выбрать абонемент</p>
            </span>
            <span class="list">
                <small>2</small>
                <p>Выбрать оборудование</p>
            </span>
            <span class="list">
                <small>3</small>
                <p>Связаться с нами</p>
            </span>
        </div>
        <img src="{% static 'img/image 2.png' %}" alt="">
    </section>
    <section class="subs">
        <svg width="658" height="652" viewBox="0 0 658 652" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M234.567 1.20022C170.38 119.364 156.254 264.031 196.12 387.862C236.332 511.093 311.954 593.958 422.195 650.405C431.549 634.203 446.36 609.949 456.148 591.597C355.586 546.339 293.021 470.211 259.023 364.17C224.073 258.38 237.059 133.858 291.545 32.4962C272.783 21.6641 253.675 11.4322 234.567 1.20022Z"
                  fill="#FFCC33"/>
            <path d="M463.824 482C316.316 443.178 169.508 405.049 22 366.92C40.8754 285.81 77.2281 208.859 126.164 143C245.009 242.828 363.854 343.35 482 443.178C473.611 454.27 467.319 468.135 463.824 482Z"
                  fill="#FF0000"/>
            <path d="M101.54 318.98C107.152 387.843 141.638 493.488 252.425 591.427C266.279 573.655 286.556 549.458 299.919 531.195C182.779 422.949 180.308 309.788 180.308 309.788C180.308 309.788 125.666 315.433 101.54 318.98Z"
                  fill="#FF9933"/>
        </svg>
        <h1>Абонементы</h1>
        <div class="subs-grid">

            {% for sub in subs %}
                <div class="sub">
                    <img src="{{ sub.image.url }}" alt="">
                    <div class="row">
                        <span>{{ sub.title }}</span>
                        <price>{{ sub.price }}€</price>

                    </div>
                    <span style="color: #FFCC33;font-family: Roboto Mono; margin-bottom: 10px;">{{ sub.description }}</span>
                    <a href="" class="form">Заказать</a>
                </div>
            {% endfor %}


        </div>
    </section>

    <img class="mobile-footer" src="{% static 'img/footer/ico_panda.png' %}" alt="">
{% endblock %}
