{% extends 'base.html' %} {% load static %} {% block content %}
    {% url 'contact' as url %}{% if request.path != url %}


<h1 class="pnf">404 Страница не найдена</h1>


    {% endif %}
    <section class="contact">
        <div class="links">
            {% for contact in contacts %}
             <h1>Связь с нами</h1>
            <span>Телефон</span>
            <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
            <span>Телефон</span>
            <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
            {% endfor %}


        </div>
    <div class="send">
                 {% csrf_token %}
        <span>Отправить нам письмо</span>
        <textarea placeholder="У меня пропал один из телеканалов!!! Что делать?????"></textarea>
        <a href="">Отправить</a>
    </div>
    </section>
    <img class="mobile-footer" src="{% static 'img/footer/ico_chaplin.png' %}" alt="">
{% endblock %}