{% extends 'base.html' %} {% load static %} {% block content %}
<div class="faq">
<svg width="731" height="678" viewBox="0 0 731 678" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M384.728 0.980175C292.145 98.5048 241.058 234.586 247.516 364.516C254.463 493.955 306.061 593.57 397.936 676.626C411.165 663.397 431.748 643.802 445.953 628.609C360.531 558.866 319.801 469.139 314.407 357.912C308.029 246.68 352.8 129.762 431.664 45.9567C416.345 30.6379 400.537 15.809 384.728 0.980175Z" fill="#FFCC33"/>
<path d="M441.824 508C294.316 469.178 147.508 431.049 0 392.92C18.8754 311.81 55.2281 234.859 104.164 169C223.009 268.828 341.854 369.35 460 469.178C451.611 480.27 445.319 494.135 441.824 508Z" fill="#FF0000"/>
<path d="M151.614 299.69C133.324 366.318 129.582 477.386 200.172 607.32C219.27 595.36 246.602 579.562 265.408 566.973C192.375 425.181 228.772 318.004 228.772 318.004C228.772 318.004 175.497 304.612 151.614 299.69Z" fill="#FF9933"/>
</svg>

    <h1>FAQ <a href="{% url 'contact' %}">Не нашли ответ на свой вопрос? Напиште нам!</a></h1>
    <h2>Что нужно для подключения ТВ ЗНАК?</h2>
    <p>Необходимо стабильное подключение к сети интернет со скоростью передачи данных не менее 5 Mbit/s. <br>

        <br>
1 шаг — выбрать и заказать тв приставку <br>
2 шаг — проверить скорость интернет-соединения <br>
3 шаг — подключить приставку к телевизору и Интернету через кабель LAN или Wi-Fi; <br>
    </p>
 <h2>У меня пропал один из телеканалов</h2>
<p>
    Пожалуйста <a href="{% url 'contact' %}">свяжитесь с нами</a>. Мы в первую очередь попытаемся Вам помочь удалённо, чтобы напрасно не ждать замены приставки. В случае подтверждения неисправности приставка будет заменена.
</p>
<h2>Какой пароль мне нужно ввести на закрытых каналах?</h2>
<p>Авторизационные данные (пароль для настроек и закрытых каналов) предоставляются при получении приставки.</p>
<h2>Наблюдаются зависания картинки, пропадание звука.</h2>
<p>Пожалуйста проверьте ваше интернет-соединение - проверка скорости
Если показатели соответствуют минимальным требованиям в 5 Mbit/s, свяжитесь с нами.
</p>
<h2>У меня не работают все каналы, я не могу
перейти к списку каналов</h2>
<p>Перезагрузите ваш модем/роутер, путем отключения от питания. После того, как модем/роутер загрузится произведите аналогичную перезагрузку приставки. Если это не исправит ситуацию, свяжитесь с нами.</p>
</div>
    <img class="mobile-footer" src="{% static 'img/footer/ico_cosmos.png' %}" alt="">
{% endblock %}