{% extends 'base.html' %} {% load static %} {% block content %}




    <section class="interective">
        <div class="info-block">
            <svg width="398" height="293" viewBox="0 0 398 293" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.7264 293C143.353 259.446 270.374 226.491 398 193.536C381.669 123.431 350.216 56.9223 307.875 0C205.049 86.2822 102.222 173.164 0 259.446C7.25836 269.033 12.7021 281.016 15.7264 293Z"
                      fill="#FF0000"/>
            </svg>

            <h1>Интерактивное ТВ</h1>
            <p>Качество HD-UHD-4K
            </p>
            <p>
                Более 400 телеканалов на русском языке и не только, в любой стране мира, где доступен Интернет. В целом
                Вам понадобится только наша ТВ-приставка и подключение к Интернету со скоростью не ниже 5 Мбит/сек.</p>
            <p>
                Управление просмотром - <span>АРХИВ</span> телевизионных передач позволяет посмотреть пропущенную
                программу;
                управление текущей передачей дает возможность воспользоваться функциями паузы, перемотки. </p>
            <p>Интернет — непосредственно на экране телевизора, интеграция последнего с <span>YOUTUBE</span> и другими
                социальными
                сетями при желании.
            </p>
            <a href="{% url 'tv-boxes' %}" class="more-info">Подключить ТВ ЗНАК!</a>
        </div>
        <img src="{% static 'img/intarective.png' %}" alt="">
    </section>
{% endblock %}