{% extends 'base.html' %} {% load static %} {% block content %}
    <section class="main-page-screen">
        <div class="info-block">
            <svg width="372" height="29" viewBox="0 0 372 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M371.256 18.677L371.606 0.708984C371.606 0.708984 149.473 14.128 0.000947114 28.165C-0.367739 27.788 221.533 24.108 371.256 18.677Z"
                      fill="#FF0000"/>
            </svg>

            <h1>Интерактивное ТВ <br>
                доступное каждому!</h1>
            <a href="{% url 'interactive-tv' %}"><button>Подробнее</button></a>
        </div>
        <img src="{% static 'img/main-page-screen.png' %}" alt="">
    </section>
{% endblock %}



