{% extends 'base.html' %} {% load static %} {% block content %}
    <div class="tv-box">


        <div class="text">
            <h1>Наши ТВ приставки</h1>
            <p>Функциональные медиацентры с эстетичным
                дизайном, качественным wifi. <br>Обучаемый пульт с технологией bluetooth</p>
        </div>
        <a href="" class="more-info">Подробнее</a>

        <div class="text">
            <h2>Мощный процессор </h2>
            <p>В медиацентрах TVIP используются только чипы с многоядерными высокопроизводительными процессорами,
                которые позволят вашим пользователям еще долгое время пользоваться самыми новыми и требовательными
                мультимедийными приложениями.</p>
            <p>Amlogic S805 — производительный чип с четырехядерным процессором, обеспечивающий отличное качество видео
                и звука.</p>
            <p>Amlogic S905X — делает приставку еще быстрее и дает возможность воспроизводить видео 4K с новейшей
                технологией HDR.
            </p>
        </div>
        <div class="text">
            <h2>Поддержка USB</h2>
            <p>У всех TVIP S-Box есть USB разъем.
                Можно подключить как Flash или жесткий диск, так и клавиатуру или беспроводный пульт. Видео или музыка
                непосредственно с внешнего жесткого диска или флеш-карты — вашим клиентам понравится эта возможность.
            </p>
            <p>TVIP S-BOX поддерживает воспроизведение AVI, MKV, MP4 и множество других форматов медиа файлов, а также
                многоканальный звук и субтитры.
            </p>
        </div>
        <div class="text">
            <h2>Качественный WiFi</h2>
            <p>Есть разные варианты Медиацентров:</p>
            <p>• WiFi 2,4 ГГц <br>
                • WiFi 2,4/5 ГГц</p>
        </div>

        <div class="text">
            <h2>Обучаемый пульт</h2>
            <p>Простой и надежный. Прочный пластик и удобные резиновые кнопки.</p>
            <p>Настройка производится легко и быстро. Поддерживает функцию программирования для ТВ. Настройка не
                сбивается при смене батареек.</p>
        </div>
        <div class="text">
            <h2>Продукт сертифицирован</h2>
            <p>TVIP S-Box соответствует строгим требованиям безопасности и совместимости с другими приборами.</p>
        </div>

    </div>



    <section class="box-grid">
        <svg width="731" height="678" viewBox="0 0 731 678" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M384.728 0.980175C292.145 98.5048 241.058 234.586 247.516 364.516C254.463 493.955 306.061 593.57 397.936 676.626C411.165 663.397 431.748 643.802 445.953 628.609C360.531 558.866 319.801 469.139 314.407 357.912C308.029 246.68 352.8 129.762 431.664 45.9567C416.345 30.6379 400.537 15.809 384.728 0.980175Z"
                  fill="#FFCC33"/>
            <path d="M441.824 508C294.316 469.178 147.508 431.049 0 392.92C18.8754 311.81 55.2281 234.859 104.164 169C223.009 268.828 341.854 369.35 460 469.178C451.611 480.27 445.319 494.135 441.824 508Z"
                  fill="#FF0000"/>
            <path d="M151.614 299.69C133.324 366.318 129.582 477.386 200.172 607.32C219.27 595.36 246.602 579.562 265.408 566.973C192.375 425.181 228.772 318.004 228.772 318.004C228.772 318.004 175.497 304.612 151.614 299.69Z"
                  fill="#FF9933"/>
        </svg>
        {% for box in box %}

            <div class="box">
                <h3>{{ box.title }}</h3>
                    <div class="img">
                        <a href="" class="form">Заказать</a>
                        <img height="150px" src="{{ box.image.url }}"  alt="">
                    </div>
                    <small>Характеристики</small>
                    <span class="list">
                    •	Чипсет	{{ box.stone }}
                </span>
                    <span class="list">
                    •	Разрешение видео	{{ box.video_size }}
                </span>
                    <span class="list">
                •	3D Графика	{{ box.graphics }}
                </span>
                    <span class="list">
                •	Память	{{ box.memory }}
               </span>
                    <span class="list">
                •	Интерфейсы	{{ box.ports }}
                </span>
                    {% if box.wi_fi %}
                        <span class="list">
                •	Wi-Fi	{{ box.wi_fi }}
                </span>
                    {% endif %}
                <br><a href="{% static 'manual_rus.pdf' %}" target="_blank" class="more-info">Инструкция</a>
                </div>
        {% endfor %}

    </section>
    <img class="mobile-footer" src="{% static 'img/footer/ico_man.png' %}" alt="">
{% endblock %}